@use "sass:math";

.Figure {
    width: 100%;
    min-height: 408px;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 100%;
}

.background {
    display: block;
    min-width: calc(100% / 3);
    min-height: 408px;
}

.sliderImg {
    border-radius: 10px;
    object-fit: cover;
    object-position: 100% 50%;
}

.sliderMclaren {
    @extend .sliderImg;
    object-position: 100% 10%;
}

.sliderCaption {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 131%);
    font-size: 6rem;
    color: cyan;
    font-weight: bold;
    margin: 0;
    animation-name: Content;
    animation-duration: 3s;
    animation-timing-function: ease;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.8);
    outline: none;
}

.sliderSubCaption {
    @extend .sliderCaption;
    font-size: 4rem;
    color: navajowhite;
    font-style: italic;
    transform: translate(-50%, 300%);
    animation-name: SubContent;
}

.modalList {
    position: absolute;
    width: 100%;
    top: 0;
}


.carLeft1 {
    position: absolute;
    transform: translateY(83%);
    width: 20%;
    left: -20%;
    animation: CarLeft 3s ease-out;

}

.carLeft2 {
    @extend .carLeft1;
    transform: translateY(-5%)
}

.carRight1 {
    position: absolute;
    width: 24%;
    transform: translateY(114%);
    left: 100%;
    animation: CarRight 3s ease-out;
}

.carRight2 {
    @extend .carRight1;
    transform: translateY(-130%);
}



.wheelFrontLeft {
    --value_translate: translateY(656%);
    position: absolute;
    width: 2.69%;
    left: -16.5%;
    transform: var(--value_translate);
    animation-name: WheelLeft, WheelFrontLeft;
    animation-duration: .3s, 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite, 1;
}

.wheelFrontLeft2 {
    @extend .wheelFrontLeft;
    --value_translate: translateY(111%);
    transform: var(--value_translate);
    left: -18.2%;
    width: 3.5%;
    animation-name: WheelLeft, WheelFrontLeft2;

}

.wheelFrontRight {
    @extend .wheelFrontLeft;
    --value_translate: translateY(797%);
    transform: var(--value_translate);
    width: 2.85%;
    left: 115.8%;
    animation-name: WheelRight, WheelFrontRight;

}

.wheelFrontRight2 {
    @extend .wheelFrontRight;
    --value_translate: translateY(-188%);
    transform: var(--value_translate);
    left: 55.4%;
    animation-name: WheelRight, WheelFrontRight2;

}

.wheelBackLeft {
    --value_translate: translateY(617%);
    position: absolute;
    width: 2.85%;
    left: -5.8%;
    transform: var(--value_translate);
    animation-name: WheelLeft, WheelBackLeft;
    animation-duration: .3s, 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite, 1;
}

.wheelBackLeft2 {
    --value_translate: translateY(100%);
    @extend .wheelBackLeft;
    transform: var(--value_translate);
    left: -7.8%;
    width: 3.6%;
    animation-name: WheelLeft, WheelBackLeft2;

}

.wheelBackRight {
    @extend .wheelBackLeft;
    --value_translate: translateY(736%);
    width: 3.05%;
    transform: var(--value_translate);
    left: 104.45%;
    animation-name: WheelRight, WheelBackRight;

}

.wheelBackRight2 {
    @extend .wheelBackRight;
    --value_translate: translateY(-192%);
    transform: var(--value_translate);
    left: 33.3%;
    animation-name: WheelRight, WheelBackRight2;

}

@keyframes WheelLeft {
    100% {
        transform: var(--value_translate) rotate(-360deg);
    }
}

@keyframes WheelRight {
    100% {
        transform: var(--value_translate) rotate(360deg);
    }
}


@keyframes CarLeft {
    from {
        left: 100%;
    }
    to {
        left: -20%;
    }
}

@keyframes CarRight {
    from {
        left: -20%;
    }
    to {
        left: 100%;
    }
}

@keyframes WheelFrontLeft {
    from {
        left: 103.5%;
    }
    to {
        left: -16.5%;
    }
}
@keyframes WheelBackLeft {
    from {
        left: 114.2%;
    }
    to {
        left: -5.8%;
    }
}

@keyframes WheelFrontLeft2 {
    from {
        left: 11.8%;
    }
    to {
        left: -8.45%;
    }
}
@keyframes WheelBackLeft2 {
    from {
        left: 22.2%;
    }
    to {
        left: -7.8%;
    }
}

@keyframes WheelFrontRight {
    from {
        left: -4.2%;
    }
    to {
        left: 115.8%;
    }
}
@keyframes WheelBackRight {
    from {
        left: -15.55%;
    }
    to {
        left: 104.45%;
    }
}

@keyframes WheelFrontRight2 {
    from {
        left: 25.4%;
    }
    to {
        left: 55.4%;
    }
}
@keyframes WheelBackRight2 {
    from {
        left: 3.3%;
    }
    to {
        left: 33.3%;
    }
}

@keyframes Content {
    from {
        left: 127%;
    }
    to {
        left: 50%;
    }
}

@keyframes SubContent {
    from {
        left: -23%;
    }
    to {
        left: 50%;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}


.btnList {
    position: absolute;
    width: 40%;
    left: 30%;
    transform: translateX(-50%);
    top: 10%;
    display: flex;
    justify-content: space-between;
}

.btn {
    display: block;
    width: 14rem;
    text-decoration: none;
    background-color: Violet;
    color: white;
    text-align: center;
    border-radius: 100px;
    font-size: 1.8rem;
    font-weight: 500;
    font-style: oblique;
    text-transform: uppercase;
    margin: 1.5rem;
}

.btn:hover {
    transform: scale(1.05);
    color: FloralWhite;
}
