.container {
    width: 100%;
    height: 100%;
}

.containerHeader {
    display: block;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.categoryHeader {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    li {
        color: #fff;
        margin: 4px 40px 4px 0;
        font-size: 1.2rem;
    }
}

.textHeader {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    margin-left: 20px;
}

.containerContent {
    background-color: #202020;
    width: 100%;
    min-height:auto;
    max-height: 1000px;
}

.content {
    flex: 1;
    width: 100%;
    display: block;
    position: relative;
}

.fullImg {
    display: block;
    width: 100%;
    height: 624px;    
}

.config {
    list-style: none;
    position: absolute;
    bottom: 100px;
    top: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.3);

    li {
        width: 100%;
        text-align: center;
        vertical-align: center;
    }

}

.field {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.value {
    color: orangered;
    font-size: 1.8rem;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    position: relative;
    top: 100%;
    padding: 0;
    margin: 0;
}

.contentSlider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:first baseline;
    overflow-x: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
    height: 100px;

    li {
        flex: 1;
        display: block;
        margin: 0 0 0 10px;
        min-width: 15%;
        max-width: 15%;
        opacity: 0.8;
        transform: scale(0.9);
        height: 100px;
        

        &:first-child {
            margin: 0;
        }

        &:hover {
            transform: scale(1);
            opacity: 1;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    
    
}

.sliderBtn {
    display: block;
    width: 30px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    margin: 0 20px;
    padding: 0 4px;
    display: none;
}



.active {
    opacity: 1 !important;
    box-sizing: border-box;
    transform: scale(1) !important;
    border: 2px solid red;
}

.seriesSlider {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction:column;
    align-items: center;
}

.carNameList {
    width: 100%;
    display: flex;
    height: 624px;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    list-style: none;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }

    li {
        opacity: 0.7;
        flex: 1;
        width: 100%;
        position: relative;
        min-height: auto;
        max-height: 200px;

        &:hover {
            opacity: 1;

            p {
                transform: scale(1);
                color: #000;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

.seriesContent{
    width: 100%;
    transform: scale(0.9);
    position: relative;
    z-index: 2;
    min-height:auto;
    max-height: 200px;
}

.imageSeries {
    display: block;
    width: 100%;
    min-height:auto;
    max-height: 200px;
}

.buttonSeries{
    flex: 1;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.seriesBtn {
    width: 20%;
    display: block;
    max-height: 100px;
}

.seriesActive {
    opacity: 1 !important;

    img{
        border: 4px solid orangered;
    }

    &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 15px;
        clip-path: polygon(40% 0%, 40% 15%, 10% 50%, 40% 85%, 40% 100%, 0% 50%);
        background-color: #fff;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        z-index: 1;
    }
    &::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 80px;
        background-color: orangered;
        border-bottom-left-radius: 40px;
        border-top-left-radius: 40px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 0;
    }
}

.carName {
    position: absolute;
    top: auto;
    bottom: 4px;
    color: #fff;
    left: 0;
    width: 100%;
    transform: scale(0.97);
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    text-align: center;
    max-height: 25%;
    overflow: auto;
    text-overflow: ellipsis;
    line-height: 1;
}
